<h1>Your shirt:</h1>

<h4>Brand:</h4>
<h6><%= @shirt.brand %></h6>
<h4>Price:</h4>
<h6><%= @shirt.price %></h6>
<h4>Image:</h4>
<h6><%= @shirt.image %></h6>
<h4>Description:</h4>
<h6><%= @shirt.description %></h6>

<a href="/">Home</a>